/* ====================================
Component
==================================== */
/* ボタンのスタイルを定義しています。
------------------------------------ */
// ボタン
.c-btn-area {
    text-align: center;
}

.c-btn {
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-size: $font-size_l;
    padding: initial;

    &__more {
        float: right;
        border: solid 2px $font-color_date;
        background-color: $font-color_background;
        color: $font-color_default;
        font-family: $font-family_corp;
        height: 50px;
        width: 150px;
        position: relative;

        @include mq(sm) {
            border: $border_bold;
        }
    }

    // 送信ボタン
    &__submit {
        display: inline-block;
        border: none;
        border-radius: 3px;
        background-color: $font-color_default;
        color: $font-color_background;
        font-family: $font-family_corp;
        width: 620px;
        padding-top: $space_m;
        padding-bottom: $space_m;
        text-align: center;
    }

    &__submit:hover {
        box-shadow: 0px 2px 4px 1px rgba(25, 25, 25, 0.3);
        transform: scale(1.01);
        transition: all .4s;
    }

    &__submit:active {
        box-shadow: none;
        transform: scale(1);
        transition: all .4s;
    }

    &__submit:disabled {
        cursor: not-allowed;
        background: $font-color_sud1;
    }

    &__submit:disabled:hover {
        box-shadow: none;
        transform: scale(1);
    }

    @include mq() {
        width: 100%;
    }

}