/* ====================================
Project
==================================== */
/* ====================================
Project
==================================== */
/* ヘッダーのスタイルを定義しています。
------------------------------------ */
.p-header {
    width: 100%;
    height: 80px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px 0;
    position: fixed;
    z-index: 2;
    font-family: $font-family_corp;
    background: $color_black;

    // スクロールした時の背景色
    &.float-active {
        transition: .2s;
        background: $color_black_clear;
    }

    &__title {
        font-family: $font-family_corp;
        font-weight: bold;
        position: relative;
        color: $color_white;
    }

    &__title:before {
        content: '';
        display: block;
        font-size: 20px;
        text-align: center;
        font-family: $font-family_title;
        position: absolute;
        top: -20px;
        left: 30px;
    }
}

// ナビゲーション
.p-nav-menu {

    &__content {
        font-family: $font-family_corp;
        font-size: $font_size_l;
        color: $color_white;
        white-space: pre;
    }

    &__item {
        margin-right: $space_xl;
    }

    &__link {
        letter-spacing: $space_m;

        &:hover {
            text-decoration: underline;
        }
    }

    // ウィンドウサイズmq以下の場合は隠す
    @include mq(md) {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        background: rgba(255, 255, 255, 0.85);
        height: 100vh;
        width: 100%;
        margin-right: initial;
        padding-top: 50px;
        // メニューが戻る時の動作
        transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        // メニューをスライド表示させる
        &.active {
            transform: translateX(-100%);
            transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
            z-index: 2;
        }

        // ハンバーガーメニューを縦並びにする
        &__content {
            flex-direction: column;
            align-items: center;
            font-size: $font-size_xl;
            padding-top: $space_3l;
        }

        &__item {
            margin-right: initial;
        }

        &__link {
            -webkit-font-smoothing: initial;
            display: block;
            padding: $space_l;
            text-align: center;
        }
    }
}

// メニュー開閉ボタン
.p-nav-menu-trigger {
    display: none;
    cursor: pointer;
    height: 32px;
    width: 40px;
    position: relative;
    z-index: 3;
    transition: all .4s;

    @include mq(md) {
        display: inline-block;
    }

    &__border {
        box-sizing: border-box;
        background-color: $color_main;
        border-radius: 4px;
        display: inline-block;
        height: 4px;
        width: 100%;
        position: absolute;
        transition: transform .6s ease-in-out, top .5s ease;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 14px;
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }

    &.active &__border {
        :nth-of-type(1) {
            transform: translateY(12px) rotate(-45deg);
        }

        &:nth-of-type(2) {
            opacity: 0;
        }

        &:nth-of-type(3) {
            transform: translateY(-15px) rotate(45deg);
        }

    }
}