/* ====================================
Utility
==================================== */
/* 余白を定義しています。
------------------------------------ */
.u-between-margin {
    margin-right: 3%;
    @include mq() {
           margin-right: initial;
        }
}
.u-bottom-margin_xl {
    margin-bottom: $space_xl;
}

.u-bottom-padding_xl {
    padding-bottom: $space_xl;
}